@{
    ViewData["Title"] = "Home Page";
}

<div class="center-container">
    <h1>Today is the best day of your life!</h1>

    Click to see a random picture of a dog

</div>


<div>
    <button class= "doggy-button">
    see doggy
    </button>

</div>