@{
    ViewData["Title"] = "Home Page";
}

<div class="center-container">
    <h1>Today is the best day of your life!</h1>

    Click to see a random picture of a dog<br />

</div>


<div class="doggy-button">

<h5>see doggy</h5>

</div>