@model MvcMovie.Models.DogApiModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Random Dog Image</h1>
@if (Model.Status == "success")
{
    @if (Model.Message == null)
    {
        <p>Could not fetch message at this time. Please try again later.</p>
    }
    else
    {
        <img src="@Model.Message" alt="Random Dog Image"/>
    }
}
else
{
    <p>Could not fetch a dog image at this time. Please try again later.</p>
}

<head>
    <link rel="stylesheet" href="styles.css" />
</head>

<input type="dog-button" value="show me another doggy" onclick="location.href='@Url.Action("Index", "Home")'"/>