html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: LavenderBlush;
  font-family: 'Segoe UI', sans-serif;
}

.center-container {
  text-align: center;
}


.doggy-button {
  text-align: center;
  position: absolute;
  top: 190px;
  left: 850px;
  background-color: Lavender;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
}

.doggy-button:hover {
  background-color: #d4d4f7;
}


/*
.dog-image {
  max-width: 100%;
  width: 500px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 15px;
  margin-top: 15px;
}

.clicking-text {
  position: absolute;
  top: 202px;
  left: 1010px;
  font-family: 'Calibri Light', sans-serif;
}
/*