@model MvcMovie.Models.DogApiModel

<!DOCTYPE html>
<html>
<head>
    <title>Random Dog Image</title>
</head>
<body>
    <h1>Random Dog Image</h1>
    @if (Model.Status == "success")
    {
        <img src="@Model.Message" alt="Random Dog Image" />
    }
    else
    {
        <p>Could not fetch a dog image at this time. Please try again later.</p>
    }
</body>
</html>
